@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --bulma-skeleton-background: var(--bulma-border);
    --bulma-skeleton-radius: var(--bulma-radius-small);
    --bulma-skeleton-block-min-height: 4.5em;
    --bulma-skeleton-lines-gap: 0.75em;
    --bulma-skeleton-line-height: 0.75em;
  }

/* Ocultar la barra de desplazamiento en navegadores webkit (Chrome, Safari) */
body::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

/* Reset básico y configuración de fuente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    overflow-y: scroll; /* Permitir el desplazamiento vertical */
    overflow-x: hidden; /* Prevenir el desplazamiento horizontal */
    -ms-overflow-style: none;  /* IE y Edge */
}

/* Estilos para el header */
header {
    position: fixed; /* Cambiar de absolute a fixed */
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    z-index: 100;
    transition: all 0.3s ease; /* Transición suave */
    background: transparent; /* Asegurarse de que el fondo sea transparente */
}

header.scrolled {
    padding: 30px 100px; /* Reducir el padding cuando se desplaza */
    background: transparent; /* Mantener el fondo transparente */
}

.logo {
    font-size: 2em;
    color: #fff;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    transition: .5s;
}

.navigation a:hover, 
.navigation a.active {
    color: #333;
}

.navigation a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 30px;
    z-index: -1;
    transform: scale(0);
    opacity: 0;
    transition: .5s;
}

.navigation a:hover span,
.navigation a.active span {
    transform: scale(1);
    opacity: 1;
}

/* Estilos para las secciones */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    background: #020912;
}

h1 {
    font-size: 90px;
    color: #fff;
}

p {
    font-size: 35px;
    color: #0ef;
    font-weight: 600;
}

section .animate {
    filter: blur(5px);
    transition: 1s;
}

section.show-animate .animate {
    filter: blur(0);
}

/* Estilos específicos para sec-1 */
.sec-1 {
    position: relative;
    background: url(../sources/backwebb.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position-x: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.sec-1 .animate {
    transform: scale(.7);
}

.sec-1.show-animate .animate {
    transform: scale(1);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 47.5%;
    user-select: none;
}

.container img {
    margin: 10px; /* Espacio entre las imágenes */
}

.evo {
    position: absolute;
    top: 70%;
    user-select: none;
}

.svg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espacio entre los SVG */
    position: absolute; /* Para posicionar dentro de la sección */
    right: 30px; /* Alinear a la derecha */
    top: 44%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Ajuste adicional para centrar */
    user-select: none;
}

img.animate.green {
    position: absolute;
    left: 33%;
}

img.animate.red {
    position: absolute;
    right: 32.9%;
    top: 0%;
}
.svg-icon {
    width: 25px; /* Ajustar el tamaño según sea necesario */
    height: auto;
}

/* Animación de salto corto hacia abajo */
@keyframes short-bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(5px);
    }
}

.short-bounce {
    animation: short-bounce 2s infinite;
}

.sec-2 .animate {
    transform: translateX(100%);
}

.sec-2.show-animate .animate {
    transform: translateX(0);
}

/* Estilos específicos para sec-3 */
.sec-3 .animate {
    transform: translateX(-100%);
}

.sec-3.show-animate .animate {
    transform: translateX(0);
}

.sec-3 p {
    color: #e0f;
}

/* Estilos específicos para sec-4 */
.sec-4 p {
    color: #ff0;
}

img.svg-icon.download-icon {
    position: absolute;
    top: 85%;
    user-select: none;
}

.download-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-text {
    color: #fff;
    position: absolute;
    top: 95%;
    font-size: 16px;
    user-select: none;
}

.download-icon {
    position: absolute;
    top: 85%;
    width: 75px; /* Ajustar tamaño según sea necesario */
    height: 75px; /* Asegurarse de que sea cuadrado para un borde circular */
    border: 1px solid white; /* Añadir un borde blanco */
    border-radius: 50%; /* Hacer el borde circular */
    padding: 20px; /* Aumentar el padding para más separación */
    background-color: transparent; /* Hacer el fondo transparente */
}

#download-icon:hover, #download-text:hover {
    cursor: pointer;
}

.nos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50px;
    padding: 3px 10px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    top: 83%;
    user-select: none;
}

.button .check {
    display: none;
}

.button.download {
    background-color: transparent;
}

.button.download::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 50%;
    border: 5px solid white;
    transform: rotate(45deg);
    animation: prixClipFix 3s forwards linear;
}

.button.done .download {
    display: none;
}

.button.done {
    background-color: transparent;
    animation: rubberBand .8s forwards linear;
}

.button.done .check {
    display: block;
}

@keyframes prixClipFix {
    0%   {clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0)}
    25%  {clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0)}
    50%  {clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%)}
    75%  {clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 0 100%)}
    100% {clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0, 0 0)}
}

@keyframes rubberBand {
    0%   {transform: scale(1, 1, 1)}
    30%  {transform: scale3d(1.15, 0.75, 1)}
    40%  {transform: scale3d(0.75, 1.15, 1)}
    50%  {transform: scale3d(1.10, 0.85, 1)}
    65%  {transform: scale3d(.95, 1.05, 1)}
    75%  {transform: scale3d(1.05, .95, 1)}
    100% {transform: scale3d(1, 1, 1)}
}

img.animate.line-green {
    position: absolute;
    left: 33%;
    bottom: 100%;
    width: 9%;
}

img.animate.line-red {
    position: absolute;
    top: 90%;
    right: 33%;
    width: 19.5%;
}

@keyframes revealFromLeft {
    0% {
      clip-path: inset(0 100% 0 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
}

.line-green {
    animation: revealFromLeft 2s ease-in-out forwards;
}

.line-red {
    opacity: 0;
    animation: revealFromLeft 2s ease-in-out forwards;
    animation-delay: 2s; /* Ajusta el retraso según sea necesario */
}

.show-red {
    opacity: 1 !important;
}

@keyframes fadeInReverse {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.green {
    animation: fadeInReverse 1s ease forwards;
}

.red {
    animation: fadeInReverse 1s ease forwards;
}

.hidden {
    display: none;
}

.sec-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    user-select: none;
}

.centered-text {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: #fff;
    max-width: 90%;
    line-height: 1.5;
    margin: 10vh 0 0 0;
}

.centered-text span {
    font-weight: bold;
    color: #14FCCE;
}

.columns {
    width: 100%;
    margin-top: 2rem; /* Ajusta el espacio entre el texto y las tarjetas */
}

.custom-card {
    position: relative; /* Necesario para posicionar el overlay */
    border-radius: 15px;
    height: 500px;
    overflow: visible; /* Permite que el contenido sobresalga de los bordes redondeados */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir toda la tarjeta */
    object-position: center; /* Centra la imagen dentro de la tarjeta */
    border-radius: 15px; /* Asegura que las imágenes sigan los bordes redondeados de la tarjeta */
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start; /* Alinea el contenido al inicio (parte superior) */
    justify-content: center; /* Centra horizontalmente */
    pointer-events: none; /* Permite hacer clic a través del overlay */
}

.card-logo {
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
    width: 150px; /* Ajusta el tamaño del logotipo según sea necesario */
    z-index: 1;
}

.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #fff;
    z-index: 2; /* Asegura que el texto esté por encima de la imagen */
    text-align: center;
}

.card-bottom-image {
    position: absolute;
    bottom: -45px; /* Ajusta la posición vertical de la imagen */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* Asegura que la imagen esté por encima de la tarjeta */
}

.bottom-image {
    width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
}

.column.is-one-quarter, .column.is-one-quarter-tablet {
    width: 15%;
}

.sec-3 {
    position: relative;
    padding: 20px; /* Asegura que el contenido no se superponga con la línea */
    overflow-y: hidden;
}

.sec-3::before {
    content: "";
    position: absolute;
    top: 15%;
    left: 0;
    width: 10%;
    height: 2px; /* Ajusta el grosor de la línea según sea necesario */
    background-color: #fff; /* Ajusta el color de la línea según sea necesario */
    transform: translateY(-50%);
}

.sec-3::after {
    content: "";
    position: absolute;
    top: 15%;
    left: 10%; /* Posiciona el punto justo al final de la línea */
    width: 10px; /* Ajusta el tamaño del punto según sea necesario */
    height: 10px; /* Asegura que el punto sea redondo */
    background-color: #14FCCE; /* Color del punto */
    border-radius: 50%; /* Hace que el punto sea redondo */
    transform: translate(-50%, -50%);
}

.sec-3 .vertical-line {
    position: absolute;
    top: calc(15% + 1px);
    left: 5%;
    width: 2px;
    height: 30%;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%);
}

.sec-3 .horizontal-line {
    position: absolute;
    top: calc(30% + 1px + 15%);
    left: 5%;
    width: 22.5%;
    height: 2px;
    background-color: #fff;
    transform: translateY(-50%);
}

.sec-3 .second-vertical-line {
    position: absolute;
    top: calc(30% + 1px + 15%);
    left: calc(12.5% + 15%);
    width: 2px;
    height: 15%;
    background-color: #fff;
    transform: translateX(-50%);
}

.sec-3 .second-horizontal-line {
    position: absolute;
    top: calc(30% + 1px + 15% + 15%);
    left: calc(12.5% + 15%);
    width: 22.5%;
    height: 2px;
    background-color: #fff;
    transform: translateY(-50%);
}

.sec-3 .third-vertical-line {
    position: absolute;
    top: calc(30% + 1px + 15% + 15%);
    left: calc(20% + 15% + 15%);
    width: 2px;
    height: 15%;
    background-color: #fff;
    transform: translateX(-50%);
}

.sec-3 .third-horizontal-line {
    position: absolute;
    top: calc(30% + 1px + 15% + 15% + 15%); /* Justo debajo de la tercera línea vertical */
    left: calc(20% + 15% + 15%); /* Posiciona la tercera línea horizontal al final de la tercera línea vertical */
    width: 22.5%; /* Ajusta el ancho de la tercera línea horizontal */
    height: 2px; /* Ajusta el grosor de la línea */
    background-color: #fff; /* Color de la línea */
    transform: translateY(-50%);
}

.sec-3 .fourth-vertical-line {
    position: absolute;
    top: calc(30% + 1px + 15% + 15% + 15%); /* Justo debajo de la tercera línea horizontal */
    left: calc(27.5% + 15% + 15% + 15%); /* Posiciona la cuarta línea vertical al final de la tercera línea horizontal */
    width: 2px; /* Ajusta el grosor de la línea según sea necesario */
    height: 15%; /* Altura de la cuarta línea vertical */
    background-color: #fff; /* Color de la línea */
    transform: translateX(-50%);
}

.sec-3 .fourth-horizontal-line {
    position: absolute;
    top: calc(30% + 1px + 15% + 15% + 15% + 15%); /* Justo debajo de la cuarta línea vertical */
    left: calc(27.5% + 15% + 15% + 15%); /* Posiciona la cuarta línea horizontal al final de la cuarta línea vertical */
    width: 30%; /* Ajusta el ancho de la cuarta línea horizontal */
    height: 2px; /* Ajusta el grosor de la línea */
    background-color: #fff; /* Color de la línea */
    transform: translateY(-50%);
}

.sec-3-text {
    position: absolute;
    top: 10%;
    left: 11%; /* Ajusta este valor según sea necesario para alinear el texto con el punto */
    transform: translateY(-50%);
    color: #fff;
    font-size: 4rem; /* Ajusta el tamaño del texto según sea necesario */
}

.sec-3-text .highlight {
    color: #14FCCE; /* Color para la letra destacada */
    font-weight: bold;
    font-size: 4rem; /* Ajusta el tamaño de la letra destacada */
}

.small-text {
    font-size: 1.5rem;
}
